* {
    box-sizing: border-box;
  }
  body{
      background: rgba(0, 0, 0, 0.3) url(images/SE\ BACKGROUND.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
  h2{
      text-align: center;
      font-size: 80px;
      color: rgb(0, 0, 0);
  }
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-color:rgba(14, 14, 14, 0.9);
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ffffff;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
    border-radius: 10PX;
    backdrop-filter: blur(1px) saturate(180%);
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid rgb(0, 0, 0);
    margin-top: -1px; /* Prevent double borders */
    background-color:rgba(14, 14, 14, 0.5);
    padding: 10px 50px;
    margin-bottom: 10PX;
    text-decoration: none;
    font-size: 18px;
    color:rgb(255, 255, 255);
    display: block;
    border-radius: 10PX;'
    text-align: center
  }
  
  #myUL li a:hover:not(.header) {
    background-color: rgb(255, 255, 255,0.3);
  }